STRAPI_URL=https://gezi-rehberi-3ucn.onrender.com
STRAPI_EMAIL=api@gezirehberi.com
STRAPI_PASSWORD=GeziBip210!
STRAPI_ADMIN_EMAIL=pejkopat@gmail.com
STRAPI_ADMIN_PASSWORD=GeziBip210!
STRAPI_API_TOKEN=
